<div class="d-flex flex-wrap">
  <form>
    <div class="form-group row">
      <label class="col-sm-12 col-form-label" for="item">Search for item</label>
      <div class="col-sm-12">
        <input type="text" class="form-control" id="item" [(ngModel)]="itemSearch" name="item"
          (keyup)="searchTerm$.next($event.target.value)">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-5">
        <h2>GP</h2>
      </div>
      <div class="col-7">
        <h2>{{itemModel.gp}}</h2>
      </div>
    </div>
  </form>

  <div *ngIf="suggestedItems" class="itemResult">
    <a *ngFor="let item of suggestedItems" (click)="choseItem(item.entry, $event)" href="" target='_blank'
      href='https://classicdb.ch/?item={{item.entry}}' rel='item={{item.entry}}' class="quality_{{item.Quality}}">
      {{ item.name }}
    </a>
  </div>
</div>
