select,
input {
  background: #343a40;
  color: white;

  &:focus {
    color: white;
    background: #343a40;
  }
}

p {
  margin: 0;
}

a {
  display: block;
  cursor: pointer;
}

#gp{
    color: yellow;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
.itemResult{
    margin-left:20px;
    margin-top:20px;
    max-height:400px;
    overflow-y:auto;
    min-width: 320px;
}

.quality_5{
    color: #ff8000;
}
.quality_4{
    color: #a335ee;
}
.quality_3{
    color: #0070ff;
}
.quality_2{
    color: #1eff00;
}
.quality_1{
    color: white;
}

.chosen{
    text-decoration: underline;
}