select, input, option {
    background: #343a40;
    color: white;
    &:focus{
        color: white;
        background: #343a40;
    }
}

p{
    margin:0;
}

a{
    display:block;
    cursor: pointer;
}

select{
    &#rarity{
    
        &[ng-reflect-model=uncommon] { 
            color: #1eff00;
        }
        &[ng-reflect-model=rare] { 
            color: #0070ff;
        }
        &[ng-reflect-model=epic] { 
            color: #a335ee;
        }
    }
}
option{
    &[value=uncommon] { 
        color: #1eff00;
    }

    &[value=rare] { 
        color: #0070ff;
    }
    &[value=epic] { 
        color: #a335ee;
    }
}

