select,
input {
  background: #343a40;
  color: white;

  &:focus {
    color: white;
    background: #343a40;
  }
}

p {
  margin: 0;
}

a {
  display: block;
  cursor: pointer;
}



.quality_5{
    color: #ff8000;
}
.quality_4{
    color: #a335ee;
}
.quality_3{
    color: #0070ff;
}
.quality_2{
    color: #1eff00;
}
.quality_1{
    color: white;
}

.chosen{
    font-size: 1.25em;
    text-decoration: underline;
}
